# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\NEW_web_Interface_automation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
